USE [master]
GO
/****** Object:  Database [SanalMarket]    Script Date: 9.06.2026 22:34:13 ******/
CREATE DATABASE [SanalMarket]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SanalMarket', FILENAME = N'D:\SQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\SanalMarket.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SanalMarket_log', FILENAME = N'D:\SQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\SanalMarket_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SanalMarket].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SanalMarket]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 9.06.2026 22:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](100) NOT NULL,
	[Ikon] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 9.06.2026 22:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](200) NOT NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
	[Stok] [int] NOT NULL,
	[Resim] [nvarchar](300) NULL,
	[Aciklama] [nvarchar](500) NULL,
	[KategoriID] [int] NULL,
	[IndirimliMi] [bit] NULL,
	[IndirimliSat] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_KategoriIstatistik]    Script Date: 9.06.2026 22:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- VIEW: Kategoriye göre ürün sayısı ve ortalama fiyat
CREATE VIEW [dbo].[v_KategoriIstatistik] AS
SELECT 
    k.KategoriAdi,
    COUNT(u.UrunID) AS UrunSayisi,
    AVG(u.Fiyat) AS OrtalamaFiyat,
    MIN(u.Fiyat) AS EnDusukFiyat,
    MAX(u.Fiyat) AS EnYuksekFiyat,
    SUM(u.Stok) AS ToplamStok
FROM Kategoriler k
LEFT JOIN Urunler u ON k.KategoriID = u.KategoriID
GROUP BY k.KategoriAdi;
GO
/****** Object:  Table [dbo].[SiparisDetay]    Script Date: 9.06.2026 22:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiparisDetay](
	[DetayID] [int] IDENTITY(1,1) NOT NULL,
	[SiparisID] [int] NULL,
	[UrunID] [int] NULL,
	[Miktar] [int] NOT NULL,
	[BirimFiyat] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_PopulerUrunler]    Script Date: 9.06.2026 22:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- VIEW: En çok sipariş edilen ürünler
CREATE VIEW [dbo].[v_PopulerUrunler] AS
SELECT TOP 10
    u.UrunAdi,
    k.KategoriAdi,
    SUM(sd.Miktar) AS ToplamSatilan,
    SUM(sd.Miktar * sd.BirimFiyat) AS ToplamCiro
FROM SiparisDetay sd
INNER JOIN Urunler u ON sd.UrunID = u.UrunID
INNER JOIN Kategoriler k ON u.KategoriID = k.KategoriID
GROUP BY u.UrunAdi, k.KategoriAdi
ORDER BY ToplamSatilan DESC;
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 9.06.2026 22:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Sifre] [nvarchar](100) NOT NULL,
	[Adres] [nvarchar](300) NULL,
	[Telefon] [nvarchar](15) NULL,
	[KayitTarihi] [datetime] NULL,
	[AktifMi] [bit] NULL,
	[Yetki] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparisler]    Script Date: 9.06.2026 22:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparisler](
	[SiparisID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[SiparisTarihi] [datetime] NULL,
	[ToplamTutar] [decimal](10, 2) NULL,
	[Durum] [nvarchar](50) NULL,
	[KargoNo] [nvarchar](50) NULL,
	[TeslimatAdresi] [nvarchar](300) NULL,
	[GuncellenmeTarihi] [datetime] NULL,
	[AdresID] [int] NULL,
	[OdemeYontemi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_MusteriOzet]    Script Date: 9.06.2026 22:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- VIEW: Müşteri sipariş özeti
CREATE VIEW [dbo].[v_MusteriOzet] AS
SELECT 
    k.AdSoyad,
    k.Email,
    COUNT(s.SiparisID) AS ToplamSiparis,
    SUM(s.ToplamTutar) AS ToplamHarcama,
    MAX(s.SiparisTarihi) AS SonSiparisTarihi
FROM Kullanicilar k
LEFT JOIN Siparisler s ON k.KullaniciID = s.KullaniciID
GROUP BY k.KullaniciID, k.AdSoyad, k.Email;
GO
/****** Object:  View [dbo].[v_DusukStok]    Script Date: 9.06.2026 22:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- VIEW: Stok azalan ürünler (10'un altı)
CREATE VIEW [dbo].[v_DusukStok] AS
SELECT 
    u.UrunAdi,
    k.KategoriAdi,
    u.Stok,
    u.Fiyat
FROM Urunler u
INNER JOIN Kategoriler k ON u.KategoriID = k.KategoriID
WHERE u.Stok < 10
ORDER BY u.Stok ASC
OFFSET 0 ROWS;
GO
/****** Object:  Table [dbo].[Adresler]    Script Date: 9.06.2026 22:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresler](
	[AdresID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[AdresBasligi] [nvarchar](50) NOT NULL,
	[AdresTanimi] [nvarchar](300) NOT NULL,
	[Sehir] [nvarchar](50) NULL,
	[Ilce] [nvarchar](50) NULL,
	[VarsayilanMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdresID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilceler]    Script Date: 9.06.2026 22:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilceler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SehirId] [int] NULL,
	[IlceAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iller]    Script Date: 9.06.2026 22:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iller](
	[Id] [int] NOT NULL,
	[SehirAdi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kampanyalar]    Script Date: 9.06.2026 22:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kampanyalar](
	[KampanyaID] [int] IDENTITY(1,1) NOT NULL,
	[KampanyaAdi] [nvarchar](200) NOT NULL,
	[IndirimOrani] [int] NULL,
	[BaslangicTarihi] [datetime] NULL,
	[BitisTarihi] [datetime] NULL,
	[AktifMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[KampanyaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KampanyaUrunler]    Script Date: 9.06.2026 22:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KampanyaUrunler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KampanyaID] [int] NULL,
	[UrunID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StokHareketleri]    Script Date: 9.06.2026 22:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StokHareketleri](
	[HareketID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NULL,
	[HareketTipi] [nvarchar](20) NULL,
	[Miktar] [int] NULL,
	[HareketTarihi] [datetime] NULL,
	[Aciklama] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[HareketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunYorumlar]    Script Date: 9.06.2026 22:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunYorumlar](
	[YorumID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NULL,
	[KullaniciID] [int] NULL,
	[Puan] [int] NULL,
	[Yorum] [nvarchar](500) NULL,
	[YorumTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[YorumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Adresler] ON 

INSERT [dbo].[Adresler] ([AdresID], [KullaniciID], [AdresBasligi], [AdresTanimi], [Sehir], [Ilce], [VarsayilanMi]) VALUES (2, 2, N'ev', N'osmangazş.', N'Eskişehir', N'tepebaşı', 0)
INSERT [dbo].[Adresler] ([AdresID], [KullaniciID], [AdresBasligi], [AdresTanimi], [Sehir], [Ilce], [VarsayilanMi]) VALUES (3, 2, N'ev2', N'asdad', N'İzmir', N'Buca', 1)
INSERT [dbo].[Adresler] ([AdresID], [KullaniciID], [AdresBasligi], [AdresTanimi], [Sehir], [Ilce], [VarsayilanMi]) VALUES (4, 3, N'evim', N'osmangazi', N'Eskişehir', N'Odunpazarı', 1)
SET IDENTITY_INSERT [dbo].[Adresler] OFF
GO
SET IDENTITY_INSERT [dbo].[Ilceler] ON 

INSERT [dbo].[Ilceler] ([Id], [SehirId], [IlceAdi]) VALUES (1, 26, N'Odunpazarı')
INSERT [dbo].[Ilceler] ([Id], [SehirId], [IlceAdi]) VALUES (2, 26, N'Tepebaşı')
INSERT [dbo].[Ilceler] ([Id], [SehirId], [IlceAdi]) VALUES (3, 26, N'Çifteler')
SET IDENTITY_INSERT [dbo].[Ilceler] OFF
GO
INSERT [dbo].[Iller] ([Id], [SehirAdi]) VALUES (1, N'Adana')
INSERT [dbo].[Iller] ([Id], [SehirAdi]) VALUES (2, N'Adıyaman')
INSERT [dbo].[Iller] ([Id], [SehirAdi]) VALUES (3, N'Afyonkarahisar')
GO
SET IDENTITY_INSERT [dbo].[Kampanyalar] ON 

INSERT [dbo].[Kampanyalar] ([KampanyaID], [KampanyaAdi], [IndirimOrani], [BaslangicTarihi], [BitisTarihi], [AktifMi]) VALUES (1, N'Hafta Sonu İndirimi', 20, CAST(N'2026-05-12T11:48:41.540' AS DateTime), CAST(N'2026-05-19T11:48:41.540' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Kampanyalar] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi], [Ikon]) VALUES (1, N'Meyve & Sebze', N'??')
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi], [Ikon]) VALUES (2, N'Et & Tavuk', N'??')
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi], [Ikon]) VALUES (3, N'Süt & Kahvaltılık', N'??')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([KullaniciID], [AdSoyad], [Email], [Sifre], [Adres], [Telefon], [KayitTarihi], [AktifMi], [Yetki]) VALUES (1, N'test kullanıcı', N'test@test.com', N'123123', N'test mh.', NULL, NULL, NULL, NULL)
INSERT [dbo].[Kullanicilar] ([KullaniciID], [AdSoyad], [Email], [Sifre], [Adres], [Telefon], [KayitTarihi], [AktifMi], [Yetki]) VALUES (2, N'Baran üncü', N'Barnuncu@gmail.com', N'123456', NULL, N'05555555555', CAST(N'2026-05-12T11:54:42.123' AS DateTime), 1, 1)
INSERT [dbo].[Kullanicilar] ([KullaniciID], [AdSoyad], [Email], [Sifre], [Adres], [Telefon], [KayitTarihi], [AktifMi], [Yetki]) VALUES (3, N'Ali Emre Utku', N'gamerturk9@gmail.com', N'313131', NULL, N'53131313131', CAST(N'2026-05-12T13:42:34.983' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[SiparisDetay] ON 

INSERT [dbo].[SiparisDetay] ([DetayID], [SiparisID], [UrunID], [Miktar], [BirimFiyat]) VALUES (1, 1, 5, 1, CAST(119.90 AS Decimal(10, 2)))
INSERT [dbo].[SiparisDetay] ([DetayID], [SiparisID], [UrunID], [Miktar], [BirimFiyat]) VALUES (2, 1, 4, 1, CAST(29.90 AS Decimal(10, 2)))
INSERT [dbo].[SiparisDetay] ([DetayID], [SiparisID], [UrunID], [Miktar], [BirimFiyat]) VALUES (3, 2, 5, 1, CAST(119.90 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[SiparisDetay] OFF
GO
SET IDENTITY_INSERT [dbo].[Siparisler] ON 

INSERT [dbo].[Siparisler] ([SiparisID], [KullaniciID], [SiparisTarihi], [ToplamTutar], [Durum], [KargoNo], [TeslimatAdresi], [GuncellenmeTarihi], [AdresID], [OdemeYontemi]) VALUES (1, 1, CAST(N'2026-05-12T11:39:44.827' AS DateTime), CAST(149.80 AS Decimal(10, 2)), N'Hazırlanıyor', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Siparisler] ([SiparisID], [KullaniciID], [SiparisTarihi], [ToplamTutar], [Durum], [KargoNo], [TeslimatAdresi], [GuncellenmeTarihi], [AdresID], [OdemeYontemi]) VALUES (2, 1, CAST(N'2026-05-12T11:39:53.973' AS DateTime), CAST(119.90 AS Decimal(10, 2)), N'Hazırlanıyor', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Siparisler] ([SiparisID], [KullaniciID], [SiparisTarihi], [ToplamTutar], [Durum], [KargoNo], [TeslimatAdresi], [GuncellenmeTarihi], [AdresID], [OdemeYontemi]) VALUES (3, 1, CAST(N'2026-05-12T11:45:21.067' AS DateTime), CAST(99.90 AS Decimal(10, 2)), N'Hazırlanıyor', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Siparisler] OFF
GO
SET IDENTITY_INSERT [dbo].[StokHareketleri] ON 

INSERT [dbo].[StokHareketleri] ([HareketID], [UrunID], [HareketTipi], [Miktar], [HareketTarihi], [Aciklama]) VALUES (1, 6, N'Cikis', 2, CAST(N'2026-05-12T11:56:03.560' AS DateTime), N'Siparis nedeniyle stok dusuruldu')
INSERT [dbo].[StokHareketleri] ([HareketID], [UrunID], [HareketTipi], [Miktar], [HareketTarihi], [Aciklama]) VALUES (2, 14, N'Cikis', 1, CAST(N'2026-05-12T12:32:06.440' AS DateTime), N'Siparis nedeniyle stok dusuruldu')
INSERT [dbo].[StokHareketleri] ([HareketID], [UrunID], [HareketTipi], [Miktar], [HareketTarihi], [Aciklama]) VALUES (3, 3, N'Cikis', 3, CAST(N'2026-05-12T12:33:21.030' AS DateTime), N'Siparis nedeniyle stok dusuruldu')
SET IDENTITY_INSERT [dbo].[StokHareketleri] OFF
GO
SET IDENTITY_INSERT [dbo].[Urunler] ON 

INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [Fiyat], [Stok], [Resim], [Aciklama], [KategoriID], [IndirimliMi], [IndirimliSat]) VALUES (1, N'Domates (1 kg)', CAST(24.90 AS Decimal(10, 2)), 87, NULL, N'Taze, yerli domates', 1, NULL, NULL)
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [Fiyat], [Stok], [Resim], [Aciklama], [KategoriID], [IndirimliMi], [IndirimliSat]) VALUES (2, N'Salatalık (1 kg)', CAST(19.90 AS Decimal(10, 2)), 72, NULL, N'Taze salatalık', 1, NULL, NULL)
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [Fiyat], [Stok], [Resim], [Aciklama], [KategoriID], [IndirimliMi], [IndirimliSat]) VALUES (3, N'Muz (1 kg)', CAST(49.95 AS Decimal(10, 2)), 30, NULL, N'Ekvador muzı', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Urunler] OFF
GO
SET IDENTITY_INSERT [dbo].[UrunYorumlar] ON 

INSERT [dbo].[UrunYorumlar] ([YorumID], [UrunID], [KullaniciID], [Puan], [Yorum], [YorumTarihi]) VALUES (1, 1, 1, 5, N'Cok taze ve lezzetli!', CAST(N'2026-05-12T11:48:41.553' AS DateTime))
INSERT [dbo].[UrunYorumlar] ([YorumID], [UrunID], [KullaniciID], [Puan], [Yorum], [YorumTarihi]) VALUES (2, 1, 1, 4, N'Guzel urun, tavsiye ederim', CAST(N'2026-05-12T11:48:41.553' AS DateTime))
INSERT [dbo].[UrunYorumlar] ([YorumID], [UrunID], [KullaniciID], [Puan], [Yorum], [YorumTarihi]) VALUES (3, 5, 1, 5, N'Taze tavuk, hizli teslimat', CAST(N'2026-05-12T11:48:41.553' AS DateTime))
SET IDENTITY_INSERT [dbo].[UrunYorumlar] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kullanic__A9D105349D65311D]    Script Date: 9.06.2026 22:34:14 ******/
ALTER TABLE [dbo].[Kullanicilar] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Kullanicilar_Email]    Script Date: 9.06.2026 22:34:14 ******/
CREATE NONCLUSTERED INDEX [IX_Kullanicilar_Email] ON [dbo].[Kullanicilar]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SiparisDetay_SiparisID]    Script Date: 9.06.2026 22:34:14 ******/
CREATE NONCLUSTERED INDEX [IX_SiparisDetay_SiparisID] ON [dbo].[SiparisDetay]
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Siparisler_KullaniciID]    Script Date: 9.06.2026 22:34:14 ******/
CREATE NONCLUSTERED INDEX [IX_Siparisler_KullaniciID] ON [dbo].[Siparisler]
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Urunler_KategoriID]    Script Date: 9.06.2026 22:34:14 ******/
CREATE NONCLUSTERED INDEX [IX_Urunler_KategoriID] ON [dbo].[Urunler]
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Urunler_UrunAdi]    Script Date: 9.06.2026 22:34:14 ******/
CREATE NONCLUSTERED INDEX [IX_Urunler_UrunAdi] ON [dbo].[Urunler]
(
	[UrunAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adresler] ADD  DEFAULT ((0)) FOR [VarsayilanMi]
GO
ALTER TABLE [dbo].[Kampanyalar] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT ((0)) FOR [Yetki]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT (getdate()) FOR [SiparisTarihi]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT ('Hazırlanıyor') FOR [Durum]
GO
ALTER TABLE [dbo].[StokHareketleri] ADD  DEFAULT (getdate()) FOR [HareketTarihi]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0)) FOR [Stok]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0)) FOR [IndirimliMi]
GO
ALTER TABLE [dbo].[UrunYorumlar] ADD  DEFAULT (getdate()) FOR [YorumTarihi]
GO
ALTER TABLE [dbo].[Adresler]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Ilceler]  WITH CHECK ADD FOREIGN KEY([SehirId])
REFERENCES [dbo].[Iller] ([Id])
GO
ALTER TABLE [dbo].[KampanyaUrunler]  WITH CHECK ADD FOREIGN KEY([KampanyaID])
REFERENCES [dbo].[Kampanyalar] ([KampanyaID])
GO
ALTER TABLE [dbo].[KampanyaUrunler]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[SiparisDetay]  WITH CHECK ADD FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparisler] ([SiparisID])
GO
ALTER TABLE [dbo].[SiparisDetay]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[StokHareketleri]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
GO
ALTER TABLE [dbo].[UrunYorumlar]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[UrunYorumlar]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[UrunYorumlar]  WITH CHECK ADD CHECK  (([Puan]>=(1) AND [Puan]<=(5)))
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciIstatistik]    Script Date: 9.06.2026 22:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- STORED PROCEDURE: Kullanıcı istatistikleri
CREATE PROCEDURE [dbo].[sp_KullaniciIstatistik]
    @KullaniciID INT
AS
BEGIN
    SELECT 
        COUNT(s.SiparisID) AS ToplamSiparis,
        ISNULL(SUM(s.ToplamTutar), 0) AS ToplamHarcama,
        ISNULL(AVG(s.ToplamTutar), 0) AS OrtalamaHarcama
    FROM Siparisler s
    WHERE s.KullaniciID = @KullaniciID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SiparisVer]    Script Date: 9.06.2026 22:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- STORED PROCEDURE: Sipariş ver
CREATE PROCEDURE [dbo].[sp_SiparisVer]
    @KullaniciID INT,
    @ToplamTutar DECIMAL(10,2),
    @SiparisID INT OUTPUT
AS
BEGIN
    INSERT INTO Siparisler (KullaniciID, ToplamTutar, Durum, SiparisTarihi)
    VALUES (@KullaniciID, @ToplamTutar, 'Hazirlaniyor', GETDATE());
    
    SET @SiparisID = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UrunAra]    Script Date: 9.06.2026 22:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- STORED PROCEDURE: Ürün ara
CREATE PROCEDURE [dbo].[sp_UrunAra]
    @AramaMetni NVARCHAR(100)
AS
BEGIN
    SELECT u.*, k.KategoriAdi
    FROM Urunler u
    INNER JOIN Kategoriler k ON u.KategoriID = k.KategoriID
    WHERE u.UrunAdi LIKE '%' + @AramaMetni + '%'
    AND u.Stok > 0
    ORDER BY u.UrunAdi;
END;
GO
USE [master]
GO
